{% load static %}
<li>
    <article class="post">

        <a href="{% url 'post-detail-page' i.pk %}"> 
            {% if i.image %}
               <img src="{{ i.image.url }}"  alt="skydiving_image" > 
            {% else %}
               <img src="{% static 'blog/images/skydiving.jpg' %}"  alt="skydiving_image" > 
            {% endif %}
            
            <div class="post__content">
                <h3>{{ i.title}}</h3>
                <p>
                    {{ i.content }}
                </p>
            </div>

        </a>

    </article>
</li>







