{% extends 'base.html' %}
{% load static %}

{% block title %}
  all posts
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/all-post.css' %}">
<link rel="stylesheet" href="{% static 'blog/post.css' %}"


{% endblock %}

{% block content %}

<section id="all-posts">
    <h2> All posts</h2>
    <ul>
      {% for i in post %}
        {% include 'blog/includes/post.html' %}
       
      {% endfor %}  
    </ul>
</section>


{% endblock %}

<!-- {% include 'blog/includes/post.html' %}
{% include 'blog/includes/post.html' %}
{% include 'blog/includes/post.html' %}
{% include 'blog/includes/post.html' %} -->