{% extends 'base.html' %}
{% load static %}

{% block title %}
  all posts
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/all-post.css' %}">
<link rel="stylesheet" href="{% static 'blog/post.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% endblock %}

{% block content %}

<section id="all-posts">
    <h2> All posts</h2>
    <ul>
      {% for post in post %}
        {% include 'blog/includes/post.html' %}
       
      {% endfor %}  
    </ul>
</section>


<br>
<br>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

    {% if post.has_previous %}
        <li class="page-item ">    
          <a class="page-link" href="/post/?page={{ post.previous_page_number }}">previous</a>
        </li>
    {% endif %} 

    {% for n in totalpages %}
    <li class="page-item">
         <a class="page-link" href="/post/?page={{n}}">{{n}}</a>
    </li>
    {% endfor %}

    {% if post.has_next %}
      <li class="page-item">
        <a class="page-link" href="/post/?page={{ post.next_page_number }}">Next</a>
      </li>
    {% endif %}
  </ul>
</nav>

{% endblock %}



<!-- {% include 'blog/includes/post.html' %}
{% include 'blog/includes/post.html' %}
{% include 'blog/includes/post.html' %}
{% include 'blog/includes/post.html' %} -->