{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/login.css' %}" >
{% endblock %}


{% block content %}    
    <div class="form-wrap">
			<h1>login</h1>

            <form method="POST" action="{% url 'login' %}">

				{% csrf_token %}
                {{ form.non_field_errors }}
				{% for i in form %}
				   <h3>{{ i.label }}</h3>
				   {{ i }}<br>
                   {{i.errors}}
				{% endfor %}   
				<button>login</button>
                <br>
                <br>
                <h4>dont have a account?<a class='text-white p-2 ' href="{% url 'signup' %}">signup</a></h4>
							
			</form>        
        </div>      
{% endblock %}
















 <!-- <form> -->      
                <!-- <input type="text" placeholder="Name">
                <input type="text" placeholder="Username">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Confirm Password">
                <input type="button" value="Sign Up"> -->       
            <!-- </form> -->
        