{% extends 'base.html' %}
{% load static %}


{% block title %}
Post detail 
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post-detail.css' %}" >
{% endblock %}

{% block content %}

<section id="summary">
    <h2>{{ post.title }}</h2>

    <article>
        <img src="" alt="post title">
        <address>By <a href="mailto:{{post.author.email}}">{{ post.author }}</a></address>
        <div>
            last updated on <time>{{ post.date }}</time>
        </div>
    </article>

</section>    
    
<main>
    <p> 
        {{ post.content|linebreaks }}
    </p>
</main>


<section id="comment-form">
    
    <form method="post"  action="{% url  'post-detail-page' post.slug  %}">
        {% csrf_token %}

        <div class="form-control">
             {{ form }}
        </div>
        <button>save comment</button>

    </form>
</section>

<section id="comments" >
   <form method="post" action="{% url 'starting-page' %}">
      {% csrf_token %}

        <h2>All Comments</h2>
        
        <ul>
            {% if comment %}
            {% for i in comment %}
            <li>
                <h2> {{ i.email }}</h2>
            <p> {{ i.text|linebreaks }}</p>

            {% if user.is_authenticated %}
            {% if user.email==post.author.email %} 
                  <a href="">approve</a>
                  <a href=""> delete</a>
            {% endif %} 
        {% endif %}    

            
            </li>   
            {% endfor %}
            {% endif %}
        </ul>
    </form>
</section>


{% endblock %}