{% extends 'base.html' %}
{% load static %}


{% block title %}
Post detail 
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post-detail.css' %}" >
{% endblock %}

{% block content %}

<section id="summary">
    <h2>{{ post.title }}</h2>

    <article>
        <img src="{{ post.image.url }}" alt="post title">
        <address>By <a href="mailto:{{post.author.email}}">{{ post.author }}</a></address>
        <div>
            last updated on <time>{{ post.date }}</time>
        </div>
    </article>

</section>    
    
<main>
    <p> 
        {{ post.content|linebreaks }}
    </p>
</main>


<section id="comment-form">
    
    <form method="post"  action="{% url  'post-detail-page' post.pk  %}">
        {% csrf_token %}

        <div class="form-control">
            {% if request.user.is_authenticated %}
              {{ form.text}}
            {% else %}  
               {{ form}}
            {% endif %}           
        </div>
        <button>save comment</button>

    </form>
</section>

<section id="comments" >
   <form method="post" action="{% url 'starting-page' %}">
      {% csrf_token %}

        <h2>All Comments</h2>
        
        <ul>
            {% if comments %}
            {% for comment in comments %}
            <li>
                {% if comment.is_approved %}
                   <h2> {{ comment.email }}</h2>
                   <p> {{ comment.text|linebreaks }}</p>
                {% endif  %}
            {% if request.user.is_authenticated %}
                {% if request.user ==  post.author %} 
                  <button ><a href="{% url 'approve' comment.id  %}">don't approve</a></button>
                  <button ><a href="{% url 'comment-delete' comment.id %}"> delete</a></button>
                {% endif %} 
            {% endif %}              
            </li>   
            {% endfor %}
            {% endif %}
        </ul>
    </form>
</section>


{% endblock %}