{% extends 'base.html' %}
{% load static %}


{% block title %}
Post detail 
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post-detail.css' %}" >
{% endblock %}

{% block content %}

<section id="summary">
    <h2>{{ post.title }}</h2>

    <article>
        <img src="" alt="post title">
        <address>By <a href="mailto:{{post.author.email}}">{{ post.author }}</a></address>
        <div>
            last updated on <time>{{ post.date }}</time>
        </div>
    </article>

</section>    
    
<main>
    <p> 
        {{ post.content|linebreaks }}
    </p>
</main>

<section>
    
    <form method="post" id="comment-form" action="{% url 'post-detail-page' post.slug  %}">
        {% csrf_token %}

        <div class="form-control">
             {{ form }}
        </div>
        <button>save comment</button>

    </form>
</section>


{% endblock %}