{% extends 'base.html' %}
{% load static %}

{% block title %}
  Search results for "{{ search}}"
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/all-post.css' %}">
<link rel="stylesheet" href="{% static 'blog/post.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% endblock %}

{% block content %}

<section id="all-posts">
    <h2>  Search results:</h2>
    {% if posts %}
        <ul>
        {% for post in posts %}
            {% include 'blog/includes/post.html' %}
        
        {% endfor %}  
        </ul>
    {% elif post_2 %}
        <ul>
            {% for post in posts_2 %}
                {% include 'blog/includes/post.html' %}
            
            {% endfor %}  
        </ul>
    {% elif posts_3 %}    
        <ul>
            {% for post in posts_3 %}
                {% include 'blog/includes/post.html' %}
            
            {% endfor %}  
        </ul>
    {% else %}    
       <h3>no results found!!</h3>
    {% endif %}
</section>

{% endblock %}

    <h1> Results for your search for  {{ search }}</h1>
    <br>
   

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div class="post-preview">
                    {% if posts %}
                            {% for post in posts %}
                            <a href="{% url 'post_detail' post.pk %}" style="text-decoration:none;">
                                <b><h1 class="post-title">{{ post.title }}</h1></b>
                                <p class="post-meta">
                                    Posted by
                                    <a href="">{{ post.author }}</a>
                                    on {{ post.date }}
                                </p>
                                <h3 class="post-subtitle">{{ post.excerpt }}</h3>
                            </a>
                            
                            <!-- Divider-->
                            <hr class="my-4" />
                            {% endfor %}

                    {% elif post_2 %}
                            {% for post in posts_2 %}
                            <a href="{% url 'post_detail' post.pk %}" style="text-decoration:none;">
                                <b><h1 class="post-title">{{ post.title }}</h1></b>
                                <p class="post-meta">
                                    Posted by
                                    <a href="">{{ post.author }}</a>
                                    on {{ post.date }}
                                </p>
                                <h3 class="post-subtitle">{{ post.excerpt }}</h3>
                            </a>
                            
                            <!-- Divider-->
                            <hr class="my-4" />
                            {% endfor %}
                    {% else %}
                            {% for post in posts_3 %}
                            <a href="{% url 'post_detail' post.pk %}" style="text-decoration:none;">
                                <b><h1 class="post-title">{{ post.title }}</h1></b>
                                <p class="post-meta">
                                    Posted by
                                    <a href="">{{ post.author }}</a>
                                    on {{ post.date }}
                                </p>
                                <h3 class="post-subtitle">{{ post.excerpt }}</h3>
                            </a>
                            
                            <!-- Divider-->
                            <hr class="my-4" />
                            {% endfor %}
                    {% endif %}
                </div>
                <hr class="my-4" />      
            </div>
        </div>
    </div>
  