
{% load static %}





{% block css %}
<link rel="stylesheet" href="{% static 'blog/signup.css' %}" >

{% endblock %}

{% block middlecontent %}
<h1><a href="{% url 'basev2' %}">MY BLOG</a></h1>
  <div class="container-fluid">
          <div class="form-wrap">
			<h1>Sign Up</h1>
			<form method="POST" action="{% url 'signup' %}">
				{% csrf_token %}
				{{ form.non_field_errors }}
				{% for i in form %}
				<h3>{{ i.label }}</h3>
				    {{ i }}<br>
					{{ i.errors }}				
				{% endfor %}  
				  <!-- <h3> {{ errors}} </h3> -->
				<button> signup</button>
				<br>
				<br>
		        
				<h4>already have a account?? <a class='text-white p-2' href="{% url 'login' %}">login</a></h4>

			</form>
        
        </div>     
	</div> 
{% endblock %}
